body {
  background-image: url("/SawyerMerchant/project_game_center_browser/master/images/galaxy.jpg");
}

#board {
  border: 1px solid white;
  height: 100%;
}

#end {
  display: none;
}

* {
  /*background-color: black;*/
  margin: auto;
  text-align: center;
  color: white;
}
